body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}
.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sect-heading{
    font-size: 75px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #002851;
}
/* TIMELINE */
.timelinebox{
    background-color: #ffffff; /* White background for timeline boxes */
    border-left: 5px solid #ff4d4d; /* Bright red accent on the left */
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.timeline-date {
    color: #ff4d4d; /* Bright red for the date */
    font-weight: bold;
}

.timeline-heading {
    color: #002041; /* Deep blue for timeline headings */
    margin-top: 5px;
}
/* GALLERY */
.gallery-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 13px;
}
.gallery > div >img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    filter: grayscale(5%);
    transition: filter 0.5s ease, transform 0.5s ease;
}
.gallery > div > img:hover {
    filter: grayscale(0%);
    transform: scale(1.015);
    z-index: 3;
}

.vertical{
    grid-row: span 2;
}
.horizontal{
    grid-column: span 2;
}
@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .horizontal {
        grid-column: span 1;
    }
}
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }
    .vertical {
        grid-row: span 1;
    }
}
@media (max-width: 480px) {
    .gallery {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-auto-rows: 150px;
    }
    .vertical, .horizontal {
        grid-row: span 1;
        grid-column: span 1;
    }
}